<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- START BASIC STYLING IMPORTS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/6a6b621601.js" crossorigin="anonymous"></script>
    <!-- END BASIC STYLING IMPORTS -->
    <title>Finance</title>
</head>
<body>
<div th:include="navigation :: navigation"></div>
<div class="container">
    <!-- Start your HTML here! -->
</div>
</body>
</html>
